#inin-error {
	width: 340px;
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	background-image: url('./img/error.png');
	background-repeat: no-repeat;
	background-position: 10px 50%;
	color: #CC0000;
	margin: 10px auto;
	padding: 15px 10px 15px 54px;
	display: none;
}
.interactionstate
{
	box-shadow:1px 2px 0 0 rgba(0,0,0,.27);
	display:inline-block;
	width:92px;
	height:27px;
	line-height: 27px;
	vertical-align: middle;
	font-size:12px;
	text-align:center;
	color:#fff;
	border:none;
	letter-spacing:.05em;
}
.interactionstate-offering
{
	background: #2a6bd5; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a6bd5 0%, #0242ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a6bd5), color-stop(100%,#0242ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a6bd5 0%,#0242ad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a6bd5 0%,#0242ad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a6bd5 0%,#0242ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a6bd5 0%,#0242ad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a6bd5', endColorstr='#0242ad',GradientType=0 ); /* IE6-9 */
}
.interactionstate-alerting
{
	background: #2a6bd5; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a6bd5 0%, #0242ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a6bd5), color-stop(100%,#0242ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a6bd5 0%,#0242ad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a6bd5 0%,#0242ad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a6bd5 0%,#0242ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a6bd5 0%,#0242ad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a6bd5', endColorstr='#0242ad',GradientType=0 ); /* IE6-9 */
}
.interactionstate-ready
{
	background: #2affd5; /* Old browsers */
	background: -moz-linear-gradient(top,  #00cc00 0%, #33d633 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cc00), color-stop(100%,#33d633)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00cc00 0%,#33d633 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00cc00 0%,#33d633 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00cc00 0%,#33d633 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00cc00 0%,#33d633 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.00cc00( startColorstr='#00cc00', endColorstr='#33d633',GradientType=0 ); /* IE6-9 */
}
.interactionstate-connected
{
	background: #2affd5; /* Old browsers */
	background: -moz-linear-gradient(top,  #00cc00 0%, #33d633 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cc00), color-stop(100%,#33d633)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00cc00 0%,#33d633 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00cc00 0%,#33d633 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00cc00 0%,#33d633 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00cc00 0%,#33d633 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.00cc00( startColorstr='#00cc00', endColorstr='#33d633',GradientType=0 ); /* IE6-9 */
}
.interactionstate-disconnected
{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #6b6b6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#6b6b6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#6b6b6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#6b6b6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#6b6b6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#6b6b6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.999999( startColorstr='#999999', endColorstr='#6b6b6b',GradientType=0 ); /* IE6-9 */
}
.interactionstate-held
{
	background: #993366; /* Old browsers */
	background: -moz-linear-gradient(top,  #993366 0%, #5c1f3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#993366), color-stop(100%,#5c1f3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #993366 0%,#5c1f3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #993366 0%,#5c1f3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #993366 0%,#5c1f3d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #993366 0%,#5c1f3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.993366( startColorstr='#993366', endColorstr='#5c1f3d',GradientType=0 ); /* IE6-9 */
}
.interactionstate-unknown
{
	background: #e60000; /* Old browsers */
	background: -moz-linear-gradient(top,  #e60000 0%, #8a0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e60000), color-stop(100%,#8a0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e60000 0%,#8a0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e60000 0%,#8a0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e60000 0%,#8a0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e60000 0%,#8a0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.e60000( startColorstr='#e60000', endColorstr='#8a0000',GradientType=0 ); /* IE6-9 */
}

/*==========================================================================*/
/* Buttons Styles */
/*==========================================================================*/
.hs_btnCtaSml,
.hs_btnCtaLrg {
  display: inline-block;
  margin: 0;
  border-radius: 4px;
  text-align: center;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.hs_btnCtaSml:active,
.hs_btnCtaLrg:active {
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3) inset;
}
.hs_btnCtaSml {
  padding: 0 14px;
  font-size: 12px;
  line-height: 24px;
}
.hs_btnCtaLrg {
  padding: 0 16px;
  font-size: 14px;
  line-height: 38px;
}
/**
 * Button Type: CTA (Green)
 * Hover Color: #80b636
*/
.hs_btnTypeCta {
  border: 1px solid #8dc63f;
  color: #ffffff;
  background-color: #8dc63f;
}
.hs_btnTypeCta:hover,
.hs_btnTypeCta:focus,
.hs_btnTypeCta:active {
  border-color: #80b636;
  background-color: #80b636;
}
/**
 * Button Type: Delete (Red)
 * Hover Color: #bd3c37
*/
.hs_btnTypeDelete {
  border: 1px solid #c94a45;
  color: #ffffff;
  background-color: #c94a45;
}
.hs_btnTypeDelete:hover,
.hs_btnTypeDelete:focus,
.hs_btnTypeDelete:active {
  border-color: #bd3c37;
  background-color: #bd3c37;
}
/**
 * Button Type: Submit (Grey)
 * Hover Color: #262626
*/
.hs_btnTypeSubmit {
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #333333;
}
.hs_btnTypeSubmit:hover,
.hs_btnTypeSubmit:focus,
.hs_btnTypeSubmit:active {
  border-color: #262626;
  background-color: #262626;
}
/* Button Type: Disabled */
.hs_btnDisabled,
.hs_btnDisabled:hover,
.hs_btnDisabled:active {
  border-color: #cccccc;
  font-weight: normal;
  color: #999999;
  background-color: #cccccc;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.boxclose
{
    float:right;
    margin-top:0px;
    margin-right:0px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.boxclose:before
{
    content: "×";
}

.reply
{
	font-size: 13px;
	color: #666;
	padding-left: 10px;
	padding-top: 10px;
}

.loadinginteractions
{
	text-align: center;
}

/* Spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Closable */
.close {
    position:absolute;
    right:10px;
    width:16px;
    height:16px;
    cursor:pointer;
    border:1px solid #000;
    background-color:#efefef;
    z-index: 5;
    -webkit-transition: opacity 150ms;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat;
    text-align:right;
    border: 0;
    cursor: pointer;
}
.close:hover, .close:focus {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
}

.close-button:active {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMlBLAYMdwxkghgEwD1XBGTC0g0sDIaYJECVwFqoChBK4WegKkJWArSJZAQErCDqSKG/iCyhaRhYA9LDIbULDzlIAAAAASUVORK5CYII=");
}

/*==========================================================================*/
/* Top Bar */
/*==========================================================================*/
.hs_topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #dddddd;
  background-color: #f4f4f4;
}
.hs_topBarContent {
  height: 39px;
  padding-left: 8px;
  line-height: 39px;
}
/* Top Bar: Left-Side Title */
.hs_topBarTitle {
  font-weight: 700;
}
/* Top Bar: Right-Side Controls */
.hs_topBarControls {
  position: absolute;
  top: 0;
  right: 4px;
  line-height: 1px;
}
.hs_topBarControlsBtn {
  display: inline-block;
  outline: 0 none;
  border: 0 solid transparent;
  border-width: 0 1px;
  padding: 10px 5px;
  cursor: pointer;
}
.hs_topBarControlsBtn.active {
  border-color: #eeeeee;
}
/* Top Bar: Drop Down */
.hs_topBarDropdown {
  display: none;
  margin-top: 1px;
  padding: 8px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/* Top Bar: Specific Drop Down Styles */
.hs_dropdownWriteMessage a,
.hs_dropdownSearch a,
.hs_dropdownWriteMessage button,
.hs_dropdownSearch button {
  float: right;
  height: 28px;
  margin: 0;
  line-height: 26px;
}
.hs_dropdownWriteMessage .hs_isVisuallyHidden,
.hs_dropdownSearch .hs_isVisuallyHidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}
.hs_dropdownWriteMessage .hs_isVisuallyHidden .hs_focusable:active,
.hs_dropdownSearch .hs_isVisuallyHidden .hs_focusable:active,
.hs_dropdownWriteMessage .hs_isVisuallyHidden .hs_focusable:focus,
.hs_dropdownSearch .hs_isVisuallyHidden .hs_focusable:focus {
  overflow: visible;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}
.hs_dropdownWriteMessage .hs_searchWrapper {
  margin-right: 65px;
}
.hs_dropdownSearch .hs_searchWrapper {
  margin-right: 75px;
}
.hs_dropdownSettings .hs_settingsLink {
  font-size: 13px;
}
.hs_dropdownSettings .hs_settingsLink:hover,
.hs_dropdownSettings .hs_settingsLink:focus {
  text-decoration: underline;
}
.hs_dropdownSettings label {
  display: block;
  margin: 0 0 5px;
}
.hs_dropdownSettings input[type="checkbox"] {
  margin: 0 3px 3px 0;
}
.hs_dropdownSettings .hs_btnTypeSubmit {
  margin: 0;
}
.hs_dropdownMenuList {
  padding: 8px 0;
}
.hs_dropdownMenuList .hs_dropdownMenuListItem {
  height: 27px;
  font-size: 12px;
  line-height: 27px;
}
.hs_dropdownMenuList a {
  display: block;
  padding: 0 10px;
  color: #333333;
}
.hs_dropdownMenuList a:hover,
.hs_dropdownMenuList a:focus {
  text-decoration: none;
  background-color: #e1e8f0;
}
/*==========================================================================*/
/* Basic Message */
/*==========================================================================*/
.hs_message {
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 9px 5px 5px;
  color: #333333;
  background-color: #ffffff;
  zoom: 1;
  /* Message Avatar */
  /* Message Content */
  /* Message Content: Message Options */
  /* Message Options is a direct descendant of .hs_message */
  /* Message Options is a direct descendant of .hs_comment */
  /* Show if Message Options is a direct descendant of .hs_message or .hs_comment */
  /* Message Content: Message More Options */
  /* Message Content: User Name, Post Time */
  /* Message Content: Main Content, Comment Wrappers */
  /* Message Content: Image Gallery */
  /* Link Previews */
  /* Linked In Connection */
  /* External Video Site Link */
  /* Direct Video Embed */
  /* Message Content: Metrics */
  /* Message Content: Comment Styles */
}
.hs_message:before {
  content: '';
  display: block;
}
.hs_message:after {
  content: '';
  display: table;
  clear: both;
}
.hs_message .hs_assignment {
  font-size: 12px;
  margin-bottom: 6px;
}
.hs_message .hs_assignment .notes {
  margin-left: 5px;
}
.hs_message .hs_avatar,
.hs_message .hs_commentAvatar {
  float: left;
  width: 30px;
  height: 30px;
  margin: 4px 11px 0 3px;
}
.hs_message .hs_avatar .hs_avatarLink,
.hs_message .hs_commentAvatar .hs_avatarLink,
.hs_message .hs_avatar .hs_avatarImage,
.hs_message .hs_commentAvatar .hs_avatarImage {
  position: absolute;
  top: auto;
  left: auto;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.hs_message .hs_avatar .hs_commentAvatarLink,
.hs_message .hs_commentAvatar .hs_commentAvatarLink,
.hs_message .hs_avatar .hs_commentAvatarImage,
.hs_message .hs_commentAvatar .hs_commentAvatarImage {
  position: absolute;
  top: auto;
  left: auto;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}
.hs_message .hs_avatar .hs_avatarImage,
.hs_message .hs_commentAvatar .hs_avatarImage,
.hs_message .hs_avatar .hs_commentAvatarImage,
.hs_message .hs_commentAvatar .hs_commentAvatarImage {
  background-color: #cccccc;
}
.hs_message .hs_commentAvatar {
  margin: 2px 5px 0 0;
}
.hs_message .hs_content,
.hs_message .hs_commentContent {
  overflow: auto;
  position: relative;
}
.hs_message .hs_content a:hover,
.hs_message .hs_commentContent a:hover {
  text-decoration: underline;
}
.hs_message .hs_content {
  margin-right: 10px;
}
.hs_message .hs_messageOptions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  display: none;
}
.hs_message .hs_messageOptionsBtn {
  outline: 0 none;
  cursor: pointer;
}
.hs_message > .hs_messageOptions {
  top: 10px;
  right: 10px;
}
.hs_message > .hs_messageOptions > .hs_messageOptionsBtn {
  margin-left: 6px;
}
.hs_message > .hs_messageOptions > .hs_messageOptionsBtn:first-child {
  margin-left: 0;
}
.hs_message > .hs_messageOptions > .hs_messageOptionsBtn.x-ellipsis {
  /* More icon */
  margin-left: 2px;
}
.hs_message .hs_comment > .hs_messageOptions {
  top: -3px;
  background-color: #f9f9f9;
}
.hs_message .hs_comment > .hs_messageOptions > .hs_messageOptionsBtn {
  margin-left: 5px;
}
.hs_message .hs_comment > .hs_messageOptions > .hs_messageOptionsBtn:first-child {
  margin-left: 0;
}
.hs_message .hs_comment > .hs_messageOptions > .hs_messageOptionsBtn.x-ellipsis {
  /* More icon */
  margin-left: 0;
}
.hs_message:hover > .hs_messageOptions,
.hs_message .hs_comment:hover > .hs_messageOptions {
  display: block;
}
.hs_message .hs_moreOptionsMenu {
  position: absolute;
  right: 0;
  display: none;
  min-width: 150px;
  border: 1px solid #bcbcbc;
  padding: 5px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.hs_message .hs_moreOptionsMenuItem {
  display: block;
  height: 27px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 27px;
  color: #333333;
}
.hs_message .hs_moreOptionsMenuItem:hover,
.hs_message .hs_moreOptionsMenuItem:focus {
  text-decoration: none;
  background-color: #e1e8f0;
}
.hs_message .hs_moreOptionsMenuItem .icon-app-dir {
  margin: 0 10px 4px 0;
  line-height: 27px;
  vertical-align: middle;
}
.hs_message .hs_userName,
.hs_message .hs_commentUserName {
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.hs_message .hs_commentUserName {
  margin-right: 5px;
  font-size: 12px;
}
.hs_message .hs_postTime,
.hs_message .hs_commentPostTime {
  position: relative;
  float: left;
  font-size: 12px;
  color: #999999;
}
.hs_message .hs_postTime.hs_isNewMessage,
.hs_message .hs_commentPostTime.hs_isNewMessage {
  padding-left: 10px;
}
.hs_message .hs_postTime.hs_isNewMessage:before,
.hs_message .hs_commentPostTime.hs_isNewMessage:before {
  position: absolute;
  bottom: 5px;
  left: 1px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background-color: #00aeef;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hs_message .hs_postTime {
  clear: left;
  margin-bottom: 5px;
}
.hs_message .hs_commentPostTime {
  margin: 1px 0 0;
  font-size: 11px;
}
.hs_message .hs_commentPostTime.hs_isNewMessage:before {
  bottom: 4px;
}
.hs_message .hs_contentText,
.hs_message .hs_commentContentText {
  clear: both;
  font-size: 13px;
}
.hs_message .hs_contentText p,
.hs_message .hs_commentContentText p {
  margin-bottom: 10px;
}
.hs_message .hs_contentText p.hs_supDesc,
.hs_message .hs_commentContentText p.hs_supDesc {
  margin-bottom: 5px;
}
.hs_message .hs_commentContentText {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hs_message .hs_commentContentText .hs_commentEntryArea {
  display: block;
  margin: 2px 0 5px;
}
.hs_message .hs_commentContentText .hs_commentActions {
  display: none;
  margin-bottom: 10px;
  text-align: right;
}
.hs_message .hs_commentContentText.hasFocus .hs_commentEntryArea {
  height: 50px;
}
.hs_message .hs_commentContentText.hasFocus .hs_commentActions {
  display: block;
}
.hs_message .hs_mediaGallery {
  max-width: 400px;
  margin-bottom: 4px;
  zoom: 1;
}
.hs_message .hs_mediaGallery:before {
  content: '';
  display: block;
}
.hs_message .hs_mediaGallery:after {
  content: '';
  display: table;
  clear: both;
}
.hs_message .hs_mediaGallery .hs_attachedMedia {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  border-radius: 4px;
  padding-bottom: 56.25%;
  background-color: #eeeeee;
}
.hs_message .hs_mediaGallery img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  zoom: 1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.hs_message .hs_mediaGallery img.hs_isProcessed {
  zoom: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  opacity: 1;
}
.hs_message .hs_mediaGallery img.hs_reverseImageScaling {
  width: auto;
  height: 100%;
}
.hs_message .hs_mediaGallery.media2Item .hs_attachedMedia {
  width: 49.5%;
  margin-right: -3px;
  margin-left: 3px;
}
.hs_message .hs_mediaGallery.media2Item .hs_attachedMedia1 {
  margin-left: 0;
  border-radius: 4px 0 0 4px;
}
.hs_message .hs_mediaGallery.media2Item .hs_attachedMedia2 {
  border-radius: 0 4px 4px 0;
}
.hs_message .hs_mediaGallery.media3Item .hs_attachedMedia {
  float: left;
  width: 49.5%;
  margin-left: 3px;
}
.hs_message .hs_mediaGallery.media3Item .hs_attachedMedia1 {
  margin-left: 0;
  border-radius: 4px 0 0 4px;
}
.hs_message .hs_mediaGallery.media3Item .hs_attachedMedia2 {
  margin-bottom: 3px;
  border-radius: 0 4px 0 0;
  padding-bottom: 27.8%;
}
.hs_message .hs_mediaGallery.media3Item .hs_attachedMedia3 {
  border-radius: 0 0 4px 0;
  padding-bottom: 27.7%;
}
.hs_message .hs_mediaGallery.media4Item .hs_attachedMedia {
  float: left;
  width: 49.5%;
  margin-left: 3px;
  padding-bottom: 27.5%;
}
.hs_message .hs_mediaGallery.media4Item .hs_attachedMedia1 {
  margin-bottom: 3px;
  margin-left: 0;
  border-radius: 4px 0 0 0;
}
.hs_message .hs_mediaGallery.media4Item .hs_attachedMedia2 {
  margin-bottom: 3px;
  border-radius: 0 4px 0 0;
}
.hs_message .hs_mediaGallery.media4Item .hs_attachedMedia3 {
  margin-left: 0;
  border-radius: 0 0 0 4px;
}
.hs_message .hs_mediaGallery.media4Item .hs_attachedMedia4 {
  border-radius: 0 0 4px 0;
}
.hs_message .hs_postAttachment {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
  padding: 4px 4px 10px;
  text-decoration: none;
  background-color: #f5f5f5;
}
.hs_message .hs_postAttachment .hs_attachedMedia {
  border-radius: 0;
}
.hs_message .hs_postAttachment .hs_postTitle {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}
.hs_message .hs_postAttachment .hs_postTitle,
.hs_message .hs_postAttachment .hs_postUrl,
.hs_message .hs_postAttachment .hs_postCaption {
  display: block;
  padding: 0 4px;
}
.hs_message .hs_postAttachment .hs_postUrl,
.hs_message .hs_postAttachment .hs_postCaption {
  font-size: 11px;
  color: #999999;
}
.hs_message .hs_content .hs_postAttachment:hover {
  text-decoration: none;
  background-color: #fafafa;
}
.hs_message .hs_connection {
  padding: 0;
}
.hs_message .hs_connection .hs_attachedMedia {
  position: relative;
  float: left;
  width: 33%;
  margin: -1px;
  padding-bottom: 33%;
}
.hs_message .hs_connection .hs_connectionInset {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: block;
  width: 100%;
  height: 100%;
  margin: -1px;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
}
.hs_message .hs_connection .hs_postTitle,
.hs_message .hs_connection .hs_postCaption {
  float: left;
  width: 67%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hs_message .hs_connection .hs_postTitle {
  padding-top: 7px;
}
.hs_message .hs_videoSiteLink .hs_attachedMedia:before,
.hs_message .hs_videoDirect .hs_attachedMedia:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  width: 40px;
  height: 40px;
  background-image: url("../images/play.png");
  content: "";
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hs_message .hs_videoDirect {
  border: 0;
  padding: 0;
}
.hs_message .hs_metrics {
  margin-bottom: 5px;
}
.hs_message .hs_metricsItem {
  display: inline-block;
  margin-left: 11px;
  font-size: 13px;
}
.hs_message .hs_metricsItem:first-child {
  margin-left: 0;
}
.hs_message .hs_metricsItem a {
  color: #666666;
}
.hs_message .hs_comments {
  position: relative;
  clear: both;
  margin-top: 5px;
  border: 1px solid #f2f2f2;
  padding: 12px 12px 2px 7px;
  background-color: #f9f9f9;
}
.hs_message .hs_comment {
  position: relative;
}
.hs_message .hs_commentsHeader {
  position: relative;
  margin-bottom: 12px;
}
.hs_message .hs_commentsCounter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  color: #999999;
}
.hs_message .hs_commentsViewPrevious {
  font-size: 13px;
  text-decoration: underline;
  color: #333333;
}
.hs_message .hs_commentsViewPrevious span {
  margin-right: 5px;
}
.hs_message_assigned {
  background-color: #fff4e6;
  border: 1px solid #ff9100;
}
/* If there is a top bar element, adjust top margin on first message element */
.hs_topBar + .hs_message {
  margin-top: 40px;
}
html.ie8 .hs_mediaGallery img {
  top: 0;
  left: 0;
}
/*==========================================================================*/
/* Message More */
/*==========================================================================*/
.hs_messageMore {
  display: block;
  height: 30px;
  background: #ffffff url("../images/loader.gif") center center no-repeat;
}
/*==========================================================================*/
/* Demo-Only Elements */
/*==========================================================================*/
h2.hs_demoSection {
  margin: 15px 0 10px;
  font-weight: 700;
}
h2.hs_demoSection:first-child {
  margin-top: 0;
}
.hs_demoContent + .hs_demoContent {
  margin-top: 10px;
}
.hs_demoIcon {
  display: inline-block;
  margin: 0 8px 5px 0;
  line-height: 25px;
}
.hs_demoIcon span {
  margin: 0 4px 4px 10px;
  line-height: 25px;
  vertical-align: middle;
}
.hs_demoIcon span:first-child {
  margin-left: 0;
}
.hs_demoLabel {
  display: inline-block;
}
.hs_demoLabel,
.hs_demoInput {
  margin-bottom: 5px;
}
